body {
background-image: url(ibolya.jpg);
}
.header {
    color:indigo;
    background: rgb(11, 230, 11);
    font-size: 40px;
    padding-left: 100px;
}
.post {
    border: 2px solid green;
    padding: 10px;
    margin: 10px;
    width: 600px;
}
.newpost {
    margin: 10px;
    width: 600px;
}
.h1 {
    color:indigo;
    font-size: 30px;
    padding-left: 100px;
}
.h2 {
    color: pink;
    font-size: 30px;



}
